nl.naturalis.nda.elasticsearch.dao/*.iml
nl.naturalis.nda.elasticsearch.dao/build
nl.naturalis.nda.elasticsearch.load/src/main/resources/elasticsearch.yml
nl.naturalis.nda.elasticsearch.dao/src/main/resources/elasticsearch.yml
nl.naturalis.nda.service.rest/src/main/resources/elasticsearch.yml
nl.naturalis.nda.domain/*.iml
nl.naturalis.nda.domain/.idea
nl.naturalis.nda.domain/build
nl.naturalis.nda.elasticsearch.load/data
nl.naturalis.nda.elasticsearch.load/resumption-token
nl.naturalis.nda.elasticsearch.load/build
