<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="nba" fileName="${sys:nba.v2.conf.dir}/../log/log4j.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="nl.naturalis" level="DEBUG" additivity="true">
			<AppenderRef ref="nba" />
		</Logger>
		<Root level="ALL">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>
