<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="nba" fileName="/home/ayco/projects/nba/v2/log/log4j.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="nl.naturalis" level="ERROR" additivity="true">
			<AppenderRef ref="nba" />
		</Logger>
		<Root level="ERROR">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>
