<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="CONSOLE">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} | %-5level | %c-24{1} | %msg%n" />
		</Console>
		<File name="FILE" fileName="${sys:nba.v2.etl.logfile}.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} | %-5level | %-24c{1} | %msg%n" />
		</File>
		<File name="JSON" fileName="${sys:nba.v2.etl.logfile}.json">
			<JSONLayout complete="false" compact="true"
				includeStacktrace="false" eventEol="true" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="nl.naturalis" level="INFO" additivity="false">
			<AppenderRef ref="FILE" />
			<AppenderRef ref="JSON" />
			<!-- AppenderRef ref="CONSOLE" / -->
		</Logger>
		<Root level="ERROR">
			<AppenderRef ref="FILE" />
			<AppenderRef ref="JSON" />
			<!-- AppenderRef ref="CONSOLE" / -->
		</Root>
	</Loggers>
</Configuration>
