<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="CONSOLE">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="FILE" fileName="${sys:nba-test.v2.log.dir}/AllTests.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<!-- AppenderRef ref="FILE" / -->
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>
</Configuration>
