# NBA configuration file used for integration tests

elasticsearch.cluster.name=@elasticsearch.cluster.name@
elasticsearch.transportaddress.host=@elasticsearch.transportaddress.host@
elasticsearch.transportaddress.port=@elasticsearch.transportaddress.port@

elasticsearch.index.default.shards=1
elasticsearch.index.default.replicas=0

elasticsearch.index.0.name=nba_integration_test
elasticsearch.index.0.types=Specimen,Taxon,MultiMediaObject,ScientificNameGroup
elasticsearch.index.1.name=geo_areas_integration_test
elasticsearch.index.1.types=GeoArea
elasticsearch.index.1.shards=1
