# NBA configuration file used for integration tests

elasticsearch.cluster.name=@elasticsearch.cluster.name@
elasticsearch.transportaddress.host=@elasticsearch.transportaddress.host@
elasticsearch.transportaddress.port=@elasticsearch.transportaddress.port@

elasticsearch.index.default.shards=1
elasticsearch.index.default.replicas=0

elasticsearch.index.0.name=nba_integration_test
elasticsearch.index.0.types=Specimen,Taxon,MultiMediaObject,GeoArea

# The maximum number of buckets (unique scientific names) that
# Elasticsearch must find. Elasticsearch will stop aggregating over the
# result set the moment it has found this many buckets.
nl.naturalis.nba.specimen.groupByScientificName.maxNumBuckets=10000

# The maximum number of groups that Elasticsearch can collect when 
# aggregating a set of documents
nl.naturalis.nba.aggregations.maxNumGroups=10000

# The number of milliseconds a query must at least take to be cached.
nl.naturalis.nba.specimen.groupByScientificName.cacheTreshold=3000

# The size of the query cache, which maps queries to their results.
nl.naturalis.nba.specimen.groupByScientificName.queryCacheSize=1000
# The number of milliseconds a query must at least take to be cached.
nl.naturalis.nba.specimen.groupByScientificName.cacheTreshold=3000

nl.naturalis.nba.taxon.groupByScientificName.maxNumBuckets=10000
nl.naturalis.nba.taxon.groupByScientificName.queryCacheSize=1000
nl.naturalis.nba.taxon.groupByScientificName.cacheTreshold=3000

# ************************************************ #
# ********************* CRS ********************** #
# ************************************************ #
crs.specimens.url.initial=http\://crs.naturalis.nl/atlantispubliek/oai.axd?verb\=ListRecords&metadataprefix\=oai_crs_object
crs.specimens.url.resume=http\://crs.naturalis.nl/atlantispubliek/oai.axd?verb\=ListRecords&resumptionToken\=%s
crs.multimedia.url.initial=http\://crs.naturalis.nl/atlantispubliek/oai.axd?verb\=ListRecords&metadataprefix\=oai_crs
crs.multimedia.url.resume=http\://crs.naturalis.nl/atlantispubliek/oai.axd?verb\=ListRecords&resumptionToken\=%s
# Whether or not to use the pre-harvested, locally
# stored XML files in stead of calling live calls to
# the CRS OAIPMH service
crs.offline=true
# The maximum age in hours of the records to harvest.
# Zero (0) means no maximum (full harvest). Only
# applicable when using OAI service.
crs.harvest.max.age=0
# Directory into which to save the XML output from
# the OAI service
crs.data.dir=@etl.crs.data.dir@


# ************************************************ #
# ******************** Brahms ******************** #
# ************************************************ #
brahms.data.dir=@etl.brahms.data.dir@


# ************************************************ #
# ********************* NSR ********************** #
# ************************************************ #
nsr.data.dir=@etl.nsr.data.dir@


# ************************************************ #
# ********************* COL ********************** #
# ************************************************ #
col.data.dir=@etl.col.data.dir@
col.year=@etl.col.year@


# ************************************************ #
# ********************* GEO ********************** #
# ************************************************ #
geo.data.dir=@etl.geo.data.dir@


# ************************************************ #
# ****************** MEDIALIB ******************** #
# ************************************************ #
medialib.data.dir=@etl.medialib.data.dir@


# ************************************************ #
# ******************** NDFF ********************** #
# ************************************************ #
ndff.data.dir=@etl.ndff.data.dir@

# ************************************************ #
# ******************** PURL ********************** #
# ************************************************ #
purl.baseurl=@etl.purl.baseurl@



