elasticsearch.cluster.name=@elasticsearch.cluster.name@
elasticsearch.transportaddress.host=@elasticsearch.transportaddress.host@
elasticsearch.transportaddress.port=@elasticsearch.transportaddress.port@
elasticsearch.index.0.name=@elasticsearch.index.0.name@
elasticsearch.index.0.shards=@elasticsearch.index.0.shards@
elasticsearch.index.0.replicas=@elasticsearch.index.0.replicas@
elasticsearch.index.0.types=@elasticsearch.index.0.types@
